# Convert to allow list.
*

# Allow ignore lists.
!.gitignore

# Allow the main shell script.
!/posh.sh

# Allow dev container configuration.
!/.devcontainer/

# Allow feature scripts.
!/features/

# Allow convenient scripts.
!/scripts/

# Allow test scripts.
!/test/
